* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abhaya Libre', serif;
}

body {
    background-image: url("1c541b8dcdd5918507d2c19f6c838887.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #8c2d42; 
    padding: 20px 40px;
   
}

a {
    text-decoration: none;
    color: inherit;
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 40px;
}

.esquerda {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.menu-botao {
    background: none;
    border: none;
    font-size: 20px;
    color: #8c2d42;
    cursor: pointer;
}

.logo{     
    align-items: center;
    height: 50px;
    width: 90px;
    margin-top: -60px;
    margin-left: -155px;
    
}

.botao-direito {
    display: flex;
    gap: 15px;
    text-decoration: none;
    list-style: none;
}




.contêiner-principal {
    display: grid;
    gap: 50px;
    align-items: center;
  
}


.barralateral{
    flex: 1;
    align-items: start;
    display: flex;
    
    gap: 40px;

   
}

.categorias {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
}

.categorias-mouse{
    text-decoration: underline;
}

.caixa-pesquisa {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
    width: 206px;  
}

.caixa-pesquisa>input {background-color: transparent;
border: 1px solid pink;
font-size: 1.5rem;
padding: 10px;
outline: none;
color: pink;
padding-left: 50px;}


.pesquisa {
    border: none; 
    background: none;
    outline: none;
    width: 100%;
    color: #8c2d42;
}


h1 {
    font-size: 3rem;
    font-weight: 300px;
    line-height: 1.1;
    margin-bottom: 15px;
    letter-spacing: 2px;
    
    
}

p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.6;
    width: 300px;
}


.grade-produtos{
    display: flex;
    height: 70vh;
    width: 40%;
    
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}

.produto2
{
    margin-right: -380px;
    width: 9px;
    height: 270px;
}

.vestidoVerde{
    margin-left: 200px;
}

.pesquisaPrincipal {display: grid;
grid-template-columns: 1fr 3fr;
height: 100vh;}

.tamanhos>a {padding: 15px;
border: 1px solid;
display: inline-block;}

.caracteristicas {margin-top: 100px;}

.caracteristicas>div {display: flex;
border-bottom: 1px solid ;
padding: 20px 0;}

.caracteristicas>div>h4 {margin-right: auto;}

.caracteristicas>div>svg {width: 20px;
fill: #8c2d42;}
